*{
  margin:0 auto;
  padding:0px auto;
 box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: #dae3e9;

}
.page{
  width:1180px;
  height: 1000px;
  margin: 0px auto;
  background: #dae3e9;
  /* padding:10px; */
  box-sizing: border-box;
}
header{
  width:1180px;

  margin: 0px auto;
  background:#fff;
  padding:10px;
  position:relative;
  overflow:hidden;
  box-shadow: 12px 15px 10px #989;
}
.top-menu{
  position:absolute;
  left:900px;
  top:10px;
}
.top-menu ul li{
  list-style: none;
  display:inline;
  padding:5px;
}
.top-menu ul li a{
  text-decoration: none;
}
nav{
  position: relative;
  width:1545px;;
  background:#00688B;
  height:28px;
  left: -200px;
  box-shadow: 12px 15px 10px #989;
  z-index: 2;
}
nav ul{
  list-style: none;
  position:absolute;
  top:8px;
  left:150px;
  box-sizing: content-box;
  line-height: 10px;

}
nav ul li{
  padding:5px;
  display:inline;
}
nav ul li a,nav ul li a span:after{
  content:"\f078";
  text-decoration: none;
  color:#fff;
  font-size: 18px;
  text-transform:uppercase;
  font-weight: 400;
  font-family: FontAwesome;
}
nav ul li ul{
  list-style: none;
  position:absolute;
  top:20px;
  left:67px;
  display: none;
}
nav ul li ul li{
  display:block;
  background:#00688B;

}
nav ul li ul li a{
  text-transform:capitalize;
  padding-left: 10px;
}
nav ul li:hover{
  background: #ff9900;
}
nav ul li:hover>ul{
  display:block;
}
#slider{
width:100%;
position: relative;
top:20px;
padding-bottom: 20px;
}
#slider img{
height:310px;
width:100%;  i
}
#slider:before{
  content:"\f053";
  color:#ff9900;
  opacity:0.5;
  position:absolute;
  font-family: FontAwesome;
  top:50%;
  left:50px;
  transform: translateY(-50%);
}

#slider:after{
  content:"\f054";
  color:#ff9900;
  opacity:0.5;
  position:absolute;
  font-family: FontAwesome;
  top:50%;
  right:50px;
  transform: translateY(-50%);
}
#slider::after:hover, #slider::before:hover{
  opacity:1;
}

/* content  */
.content{
  margin-top: 25px;
  background:#fff;
  padding:10px;
    box-shadow: 12px 15px 10px #989;
}
.content ul li a{
  text-decoration: none;
}
.lcontent{
  width:20%;
  line-height: 25px;
  float:left;
  height:300px;
}
.rcontent{
  width:78%;
  float:right;
  margin-right: 0;

}
.content h3{
  color: #ff9900;
}
.lcontent h3{
  padding-left: 20px;
font-size: 25px;
}
.product{
  width:1180px;
  background: #fff;
  color:#ff9900;
  padding:10px;
  height:380px;
  position:absolute;
  top:875px;
  z-index: 0;
    box-shadow: 12px 15px 10px #989;
}
.product h1{
  text-align: center;
}
.product-item{
  width:31%;
  height:300px;
  background:#fff;
  color:#000;
  text-align: justify;
  border:1px solid #ff9900;
  position:absolute;
  top:58px;
  z-index: 1;
}
.product-item .product-item-decoration{
  width:100%;
  background-color: #ff9900;
  color:#fff;
  box-sizing: border-box;
}
.product-item:hover{
box-shadow: 0px 0px 18px #989;
}
.product-item p{
  margin:10px;
}
.product .item1{
  left:10px;
}
.product .item2{
  left:405px;
}
.product .item3{
  left:800px;
}



footer{
  width:100%;
  background: #00688B;
  position: relative;
  height:50px;
  top:290px;
  padding-top:10px;
  text-align: center;
}
